.banner_image { 
    width:100%;

}



.navbar {
    color: #FFFFFF;
    background-color: #FFFFFF;
}

.about {
  color: #364156;
}

body {
  background-color: #FFFFFF;
}

.experience {
  color: #364156;

}

.logo {
	transform: rotate(0deg);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;

}